body {
    background-color: white;
}

header {
    background-color: transparent;
    padding: 30px;
    text-align: center;
}

.uno {
    color: black;
    padding-top: 50px;
    padding-left: 25px;
    font-size: 35px;
}

.dos {
    color: black;
    padding-top: 35px;
    padding-left: 25px;
    font-size: 22px;
    width: 50%;
    line-height: 1.6;
}

.titulo {
    text-align: center;
    color: black;
    padding-top: 50px;
    font-size: 35px;
}

.texto {
    color: black;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 35px;
    font-size: 22px;
    width: 50%;
    line-height: 1.6;
}

.embaixo {
    background-color: rgb(104, 101, 101);
    padding: 10px;
    text-align: center;
    color: white;
  }

.btn {
    display: block;
    margin: auto;
    margin-bottom: 8%;
    margin-top: 8%;
    padding: 1%;
    background-color: rgb(80, 153, 80);
    border: none;
    transition: 300ms;
}

.btn:hover {
    background-color: green;
    cursor: pointer;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

div.gallery {
    border: 1px solid #ccc;
    margin-bottom: 15%;
    margin-top: 10%;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    color: white;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
