body {
    background-color: rgb(27, 27, 27);
}

header {
    background-color: transparent;
    padding: 30px;
    text-align: center;
}

h1 {
    color: white;
    padding-top: 50px;
    padding-left: 25px;
    font-size: 35px;
}

p {
    color: white;
    padding-top: 35px;
    padding-left: 25px;
    font-size: 22px;
    width: 50%;
    line-height: 1.6;
}

.toggle {
    display: none;
}

.toggle + label {
    width: 32px;
    height: 20px;
    background: lightgray;
    display: block;
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
    border-radius: 20px;
    padding: 2px;
    transition: 200ms;
    cursor: pointer;
}

.toggle + label:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    display: block;
    border-radius: 50%;
    right: unset;
    left: 2px;
    top: 2px;
    transition: 200ms;
}

.toggle:checked + label {
    background: rgb(83, 158, 83);
}

.toggle:checked + label:before {
    content: '';
    left: calc(100% - 22px);
    box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
}
